
a{
    text-decoration: none;
    cursor: normal;
}

p{
    font-family: Arial;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    
    color: black;
    &:hover{
        cursor: pointer;
        
    }

    
}

div{
    text-align: center;
    
}

